@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{  
  background-image: url(./img/pexels-cottonbro-4065864.jpg);
  height: 100vh;
  background-size: 100%;
  background-position: center;
}

::selection{
  color: #fff;
  background: #4b3e49;
}

.rule_box,
.quiz_box,
.result_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000ba;
}
.showcase-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  justify-content: space-evenly;
}

.showcase-text h1{
  font-size: 40px;
  text-transform: uppercase;
  color: #e1e400;
}

.showcase-text h2{
  color: #d5d5d5;
}

.start_btn button{
  width: 185px;
    font-size: 25px;
    font-weight: 500;
    color: #3f403f;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
  }

  .rule_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.rule_box.activeInfo {
    background: #414141;
    color: blanchedalmond;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.rule_box .rule-title{
  height: 60px;
  width: 35%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 5px 5px 0 0;
  font-size: 35px;
  font-weight: 600;
}
.rule_box .rule-list{
  padding: 15px 30px;
}

.rule_box .rule-list .rule{
  margin: 5px 0;
  font-size: 28px;
}
.rule_box .rule-list .rule span{
  font-weight: 600;
  color: #e1e400;
}
.rule_box .buttons{
  width: 35%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-top: 1px solid lightgrey;
}

.rule_box .buttons button{
  margin: 0 5px;
  height: 45px;
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #e1e400;
  transition: all 0.3s ease;
}

.quiz_box{
  width: 550px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz_box header{
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #343a40;
  color: #e1e400;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
  font-size: 20px;
  font-weight: 600;
}

.quiz_box header .timer{
  color: #e1e400;
  background: #e1e40045;
  border: 1px solid #e1e400;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}
